.pagestyle1 {
	padding: 5px;
}
table {
	font-family: "ו", Tahoma, Verdana;
	font-size: 9pt;
}
.msg1 {
	padding: 5px;
}
.msg2 {
	background-color: #E9F0F8;
	padding: 5px;
	border: 1px solid #487AC6;
}
